#notes-list {
    height: 100%;
    background-color: blue;
}

#textBox {
    height: 100%;
    width: 100%;
    margin: 10px;
}

#titleBox {
    width: 100%;
    margin: 10px;
}

form {
    height: 100%;
}

#newNoteButton {
    margin: 10px;
}

#notes-list {
    width: 100%;
    margin: 10px;
}

#rightColumn {
    height: 100%;
}